.navbar {
  background-color: #333;
  font-size: 24px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 2px solid white;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.navbar h2 {
  margin: 0;
}

.nav-links {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.logout-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}
